In [1]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system'
with open('test1.txt','w') as w:
    w.writelines(test1)

In [ ]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [18]:
with open('test1.txt','r') as r:
    test2 = r.read()

In [19]:
test2

'This is a test of the emergency text system'

In [ ]:
#3. Create a CSV file called books.csv by using these lines:
'''
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''

In [42]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('Books.csv','wt',encoding='utf-8') as w:
    for i in text:
        w.write(i)
print('done')

done

In [38]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [43]:
import sqlite3

In [44]:
con = sqlite3.connect('books.db')

In [45]:
cur = con.cursor()

In [84]:
cur.execute('create table books(title text,author text,year int)')

In [85]:
con.commit()

In [86]:
#5. Read books.csv and insert its data into the book table

In [87]:
import csv
with open('Books.csv','r') as data:
    next(data)
    csv_data = csv.reader(data)
    for i in csv_data:
        cur.execute('insert into books values(?,?,?)',i)
print('data loaded successfully')

data loaded successfully

In [88]:
con.commit()

In [89]:
#6. Select and print the title column from the book table in alphabetical order.

In [93]:
for i in (cur.execute('select title from books order by title asc')):
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [94]:
#7. From the book table, select and print all columns in the order of publication

In [101]:
cur.execute('select*from books order by year')

In [102]:
cur.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China MiÃ©ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

In [103]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [104]:
import sqlalchemy

In [105]:
conn = sqlalchemy.create_engine('sqlite:///books.db')

In [107]:
for i in (conn.execute('select title from books order by title asc')):
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [108]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [109]:
pip install redis

Collecting redis
  Downloading https://files.pythonhosted.org/packages/a7/7c/24fb0511df653cf1a5d938d8f5d19802a88cef255706fdda242ff97e91b7/redis-3.5.3-py2.py3-none-any.whl (72kB)
Installing collected packages: redis
Successfully installed redis-3.5.3
Note: you may need to restart the kernel to use updated packages.

In [15]:
import redis

In [16]:
conn = redis.Redis(host='localhost', port=6379, db=0)
conn.delete('test')

1

In [17]:
conn.hmset('test',{'count':1,'name':'Fester Bestertester'})

C:\Users\Panda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  """Entry point for launching an IPython kernel.

True

In [18]:
conn.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

In [19]:
#10. Increment the count field of test and print it.

In [20]:
conn.hincrby('test','count',3)

4

In [21]:
conn.hget('test','count')

b'4'