In [1]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =[1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
year_list = [1997,1998,1999,2000,2001,2002]

In [3]:
#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [7]:
year_list[2]

1999

In [8]:
#3.In the years list, which year were you the oldest?

In [9]:
year_list[-1]

2002

In [10]:
#4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [11]:
str = ['mozzarella','cinderella','salmonella']

In [12]:
#5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list

In [14]:
for i in str:
    if i == 'cinderella':
        print(i.capitalize())
print(str) #it wont affect the original list

Cinderella
['mozzarella', 'cinderella', 'salmonella']

In [15]:
#6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [53]:
surp_list = ['Groucho','Chico','Harpo']

In [54]:
#7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [55]:
var = surp_list[-1].lower()
var1 = var[-1::-1].capitalize()
surp_list.remove(surp_list[-1])
surp_list.append(var1)

In [56]:
surp_list

['Groucho', 'Chico', 'Oprah']

In [57]:
#8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [58]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}

In [59]:
#9. Write the French word for walrus in your three-word dictionary e2f

In [60]:
e2f['walrus']

'morse'

In [61]:
#10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [96]:
f2e = {j:i for i,j in e2f.items()}
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [97]:
#11. Print the English version of the French word chien using f2e.
f2e['chien']

'dog'

In [100]:
#12. Make and print a set of English words from the keys in e2f.
for i in e2f.keys():
    print(i)

dog
cat
walrus

In [ ]:
'''
13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. 
Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings 
with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

'''

In [103]:
life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':[],'emus':[]},'plants':{},'other':{}}

In [104]:
#14. Print the top-level keys of life

In [105]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [106]:
#15. Print the keys for life['animals']

In [107]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [113]:
#16. Print the values for life['animals']['cats']
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']